@model Employement_Project_MVC.Models.Candidate_Detail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidate_Detail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_of_candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_of_candidate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB_of_candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB_of_candidate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile_no_of_candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile_no_of_candidate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_address_of_candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_address_of_candidate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
