@model Employement_Project_MVC.Models.Employer_Detail

@{
    ViewData["Title"] = "Delete";
}

<!--code to delete the database from employer details table-->

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employer_Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employer_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employer_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_of_establishment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_of_establishment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address_of_employer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address_of_employer)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
