@model IEnumerable<Employement_Project_MVC.Models.Employer_Detail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_establishment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_of_employer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_establishment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_of_employer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
