@model Employement_Project_MVC.Models.Apply_Job_Detail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Apply_Job_Detail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate_Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate_Detail.Mobile_no_of_candidate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate_availabilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate_availabilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate_notice_period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate_notice_period)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
